.tbl1 {
  margin: 0 auto;
  background-color: #FFFFFF;
  border: solid 1px #CECECE;
  table-layout: fixed;
  width: 90%;
}
.tbl1 tr:hover {
  background-color: #F3F3F3;
}
.tbl1 td,
.tbl1 th {
  border: solid 1px #CECECE;
  border-collapse: collapse;
}
.tbl1 th {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
}
.tbl1 td {
  padding: 5px;
  font-size: 1.3vw;
  text-align: right;
}
.tab-container {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.tab-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 4.36vw;
}
.tab-container .tabs .tab {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.tab-container .tabs .tab input {
  display: none;
}
.tab-container .tabs .tab input + label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  border: solid 1px #CECECE;
  border-collapse: collapse;
  cursor: pointer;
  font-size: 1.5vw;
  padding: 0.8vw;
}
.tab-container .tabs .tab input:checked + label {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 15px -5px rgba(0, 0, 0, 0.5);
  border-top: solid 3px #4188FF;
  font-weight: bold;
}
.tab-container .tab-contents {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
}
.tab-container .tab-contents .tab-content {
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 500px;
}
@font-face {
  font-family: BNazanin;
  src: url("Resources/fonts/BNazanin/B Nazanin.ttf");
}
#page-head {
  display: block;
  text-align: center;
  padding: 30px;
  margin: 0;
  font-size: 3vw;
}
.header {
  display: block;
  text-align: center;
  padding: 25px;
  margin: 0;
  font-size: 2.5vw;
}
body {
  font-family: BNazanin, Tahoma, Arial;
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #F5F5F5;
}
