<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ static }}{{ 'main.css' }}" rel="stylesheet">
    <script src="{{ static }}{{ 'Jquery/jquery-3.2.1.min.js' }}" type="text/javascript"></script>
    <script src="{{ static }}{{ 'app.js' }}" type="text/javascript"></script>
</head>
<body>
    <div id="page-head">
        رسیدگی به امور دانشجویان
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="tab-container">
        <div class="tabs">
            <div class="tab">
                <input type="radio" name="tab-select" value="1" id="tab-1">
                <label for="tab-1">نمایش لیست دانشجویان</label>
            </div>
            <div class="tab">
                <input type="radio" name="tab-select" value="2" id="tab-2">
                <label for="tab-2">افزودن دانشجو</label>
            </div>
            <div class="tab">
                <input type="radio" name="tab-select" value="3" id="tab-3">
                <label for="tab-3">حذف دانشجو</label>
            </div>
            <div class="tab">
                <input type="radio" name="tab-select" value="4" id="tab-4">
                <label for="tab-4">ویرایش اطلاعات دانشجو</label>
            </div>
        </div>
        <div class="tab-contents">
            <div class="tab-content" id="tab-content-1" style="display: none">
                %list.html%
            </div>
            <div class="tab-content" id="tab-content-2" style="display: none">
                {{ addForm }}
            </div>
            <div class="tab-content" id="tab-content-3" style="display: none">
                {{ removeForm }}
            </div>
            <div class="tab-content" id="tab-content-4" style="display: none">
                {{ editForm }}
            </div>
        </div>
    </div>
<div id="response" style="display: none">

</div>
</body>
</html>